@import url('https://fonts.googleapis.com/css?family=Chivo:400,400i,900,900i|Unna:400,400i,700');

:root {
  --laranja: #aa382d;
  --azulClaro: #84bdcf;
  --branco: #fefefe;
  --text: #141827;
  --azulMedio: #273671;
  --amarelo: #e8b32c;
  --white: #fff;
}

html, body { height: 100%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: var(--text);
  font-family: Chivo, Verdana, sans-serif;
}

img { width: 100%; }

/* TYPOGRAPHY */

h1, h2, h3 {
  font-family: Unna, Georgia, serif;
  margin: 2.8rem 0 1.4rem;
}

.copy h2, .copy h3, .copy h4, .title {
  color: var(--azulMedio);
}

p {
  line-height: 1.4;
  margin-bottom: 1.4em;
}

li {
  margin-left: 1em;
}

.title h2 { 
  font-size: 1rem;
  font-weight: normal;
}

.mono h3 {
  padding-top: .5rem;
}

.mono em, strong {
  color: var(--azulMedio);
}

hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--laranja), var(--laranja), var(--laranja),rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
  margin-top: 1rem;
}

*:hover{ 
  text-decoration: none;
  transition: all 0.5s;
}