:root {
  --laranja: #aa382d;
  --laranjaClaro: #E77373;
  --laranjaLight: #F6D8D5;
  --azul: #273671;
  --azulClaro: #84bdcf;
  --azulLight: #E5F9FF;
  --white: #fefefe;
  --text: #141827;
  --amarelo: #e8b32c;
  --amareloLight: #FAEED1;
  --sans: Chivo, Verdana, sans-serif;
  --serif: Unna, Georgia, serif;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: var(--text);
  font-family: var(--sans);
  overflow-x: hidden;
  @media screen and (max-width: 7600px) {
    overflow-x: visible;
  }
}

img { width: 100%; }

/* TYPOGRAPHY */

h1, h2, h3, h4 {
  font-family: var(--serif);
  color: var(--azul);
}

h4 {
  font-family: var(--sans);
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
}

li {
  margin-left: 1rem;
}

blockquote {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--laranja);
  margin-bottom: 1rem;
  margin-left: 1rem;
}

hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--laranja), var(--laranja), var(--laranja),rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
  margin-top: 1rem;
}

main p a {
  color: var(--laranja);
  display: inline-block;
  position: relative;
  text-decoration: none;
}

main p a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--laranja);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

main p a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

*:hover{ 
  text-decoration: none;
  transition: all 0.5s;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}